

.p{
   
    padding: 40px;
    margin-top: 40px;
    text-align: center;




}

.t {
    font-family: 'Architects Daughter', cursive;
margin-top:10px;
padding : 50px;

}

.p1{
    margin-top:10px;
    padding : 50px;
    
}





.c{
    margin-top: 30px;
    
 
}


.c1{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.f{
    margin-top:10px;
    padding : 10px;
    
}


.ft{
   
    padding: 10px;
    text-align: center;

}

.logo{font-size: 30px ;}

